@media screen and (min-width: 1200px) {

  .contact {

    dt, dd {
      display: inline-block;
    }

    dd {
      padding: 0;
    }

    dd.address {
      display: block;
      padding-left: 110px;
    }

    dd.phone {
      display: block;
      padding-left: 100px;
    }
  }

  #header {
    .main-nav {
      >li {
        margin-left: 60px;
      }
    }
  }

  #footer {
    font-size: 13px;
  }

  .error-section {
    padding: 120px 0 200px;
  }

  .primary-content {

    iframe {
      height: 650px;
    }
  }
}